body{
    font-family: sans-serif;
    color: rgb(34, 33, 33);
    margin: 0;
    padding: 0;
}

.logo img{

    height: 55px;
    width: 170px;
}

.right ul{

    list-style: none;
    display: flex;
    gap: 25px;
}

.right ul li{

    display: flex;
    align-items: center;
}

.right ul li:hover{

    cursor: pointer;
}

.nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}

.logo{

    margin-right: 255px;
}

.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.content-btn{

    border: none;
    background-color:#00b6d1;
    color:#ffffff;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px;
    border-radius: 7px;
}

.content-btn:hover{

    cursor: pointer;
    background-color: #0c8a9ecf;
}

.content span{

    font-size: 50px;
}

.content span img{

    margin: 0 23px;
}

.sub-content{

    width: 64vw;
    margin: 20px;
    font-size: 25px;
    text-align: center;
    
}

.content-2{

    display: flex;
    align-items: center;
    margin: 30px 270px;
}

.content-2 h3{

    padding: 0 5px 10px 20px;
    font-size: 25px;
    font-weight: 270;
}

.content-2 span{

    font-size:15px;
}

.version-menu{

    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    justify-content: center;
    column-gap: 110px;
    row-gap: 30px;
    margin-right: 140px;
}

.box{

    background-color: #f9f9f9;
    height: 154px;
    width: 275px;
}

.blue-btn{

    border: none;
    background-color:#00b6d1;
    color:#ffffff;
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
}

.green-btn{

    border: none;
    background-color:#5cb85c;
    color:#ffffff;
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.blue-btn:hover, .green-btn:hover{

    cursor: pointer;
}

.blue-btn:hover{

    background-color:#0c8a9ecf;
}

.green-btn:hover{

    background-color:#92d092;
}

.lang-eng{

    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight:bolder;
}

.sub-lang{

    text-align: center;
    padding: 5px;
    font-size: small;
    font-weight:400;
}

.down-btn{

    margin: 30px 0 0 20px;
}

.down-eng-btn{

    margin: 55px 0 0 20px;
}

.black-box{

    background-color: #222222;
    height: 105vh;
    margin: 85px 0;
    color: white;
    display: flex;
}

.newsletter-content{

    margin-top: 200px;
    margin-left: 300px;
    width: 500px;
    line-height: 25px;

}

.newsletter-content h2{

    padding-left: 45px;
}

.newsletter-content h4{

    font-weight: lighter;
    
}

.newsletter-content span{

    display: block;
    margin-left: 80px;
}

.content-info{

    margin-top: 170px;
    line-height: 20px;
}

.content-info span{

    width: 75vw;
    margin: 0px;
    height: 55px;
    line-height: 30px;
}

.content-info h3{

    font-weight: lighter;
    font-size: 25px;
}

.content-info a, .content-info a:hover{

    text-decoration: none;
    color: #00b6d1;
}

.email-signup{

    background-color: white;
    border: none;
    border-radius: 10px;
    height: 280px;
    width: 350px;
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    place-content: center;
    
}

.email-signup h3{

    color: #00b6d1;
    font-size:25px;
    text-align: center;
    font-weight: 100;
    margin-top: 0px;
}

.email-signup h5{

    color: rgb(34, 33, 33);
    text-align: center;
    margin-bottom: 5px;
    font-weight: lighter;

}

.email-btn{

    border: none;
    background-color:#00b6d1;
    color:#ffffff;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px 0;
    margin: 0 30px;
    border-radius: 7px;
}

.email-btn:hover{

    cursor: pointer;
    background-color: #0c8a9ecf;
}

.email-input{

    border: 1px solid rgb(229, 219, 219);
    padding: 15px 0;
    margin: 0 30px;
    outline: none;
}
